################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/Debug
/Release
/MyEngineVS.sln
/MyEngineVS.vcxproj
/MyEngineVS.vcxproj.filters
/MyEngineVS.vcxproj.user
